<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <h1>Admin Dashboard</h1>
    <p>Welcome to the admin dashboard.</p>

    <div class="dashboard-links">
    <a th:href="@{/admin/users}">View All Users</a>
    <a th:href="@{/admin/member-profiles}">View All Member Profiles</a>
    <a th:href="@{/admin/coach-profiles}">View All Coach Profiles</a>
    <a th:href="@{/admin/attendance/add}">Add Attendance</a>
    <a th:href="@{/admin/attendance}">View All Attendance</a>
    <a th:href="@{/admin/clash-events/add}">Add Clash Event</a>
    <a th:href="@{/admin/clash-results/add}">Add Clash Result</a>
    <a th:href="@{/admin/clash-results}">View All Clash Results</a>
    </div>

    <div class="page-actions">
        <a th:href="@{/owner/dashboard}" sec:authorize="hasRole('OWNER')">Back to Owner Dashboard</a>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>